// $primary-dark: #364f53;
// $primary-light: #5e7d75;
// $white: #ffffff;
// $black: #000000;
// $beige: #ede4db;
// $hover-white: #cecece;
// $active-white: #929292;
// $hover-primary-dark: #506861;
// $active-primary-dark: #3b4a46;
// $error: #fd4e5d;
// $primary-dark: #111010;
// $primary-light: #ffffff;
// $secondary-light: #f5f5f5;
// $secondary-dark: #0e0d35;

// $grey: #7e7e7e;
// $grey-light: #e4e4e4;

// $green: #049300;
// $green-light: #dbffda;

// $red: #d6383c;
// $hover-button: #f9454a;
// $hover-button-bg: #fbebec;
// $active-button: #4b0002;
// $active-button-bg: #f7d7d8;

$primary-dark: #182233;
$primary-light: #ffffff;
$primary-blue: #66c3d0;
$secondary-light: #f4f4f6;
$secondary-dark: #23272f;
$card-backroung: #eef0f6;
$card-label: #4b5563;
$filter-text: #111010;

$button-hover: #1c5188;
