@import '../_vars.scss';
@import '../_mixin.scss';
@media (max-width: 1260px) {
    .catalog {
        margin-bottom: 64px;
        &__container {
            .catalog__title {
                font-size: 32px;
                margin-bottom: 24px;
            }
            .filter {
                .switch {
                    padding: 12px 24px;
                    &__option {
                        font-size: 14px;
                    }
                }
                &__button {
                    font-size: 14px;
                    padding: 12px 24px;
                }
            }
            .catalog__content {
                .card {
                    &__content {
                        padding: 18px;
                        .card__title {
                            font-size: 24px;
                        }
                        .card__tags {
                            .card__tag {
                                font-size: 14px;
                            }
                        }
                        .card__wrap {
                            .info {
                                &__wrap {
                                    .info__label {
                                    }
                                    .info__text {
                                        font-size: 18px;
                                    }
                                }
                            }
                            &-button {
                                .card__button {
                                    width: unset;

                                    padding: 12px 24px;

                                    font-size: 14px;
                                }
                                .card__timeLeft {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
